@using Invest.Models
@model FilterViewModel

<div class="search-wrapper">
<form method="post">
<div>
<div class="se-wrapper col-12 bg-dark text-white p-3 mx-auto shadow p-3 mb-2 rounded">
<h2 class="mx-auto">Поиск по фильтрам</h2>
</div>
<div class="new d-flex">
<div class="col-4 bg-secondary text-white p-3 shadow rounded ">
<div class="filters">
<h4>Цена м²(₽)</h4>
<div class="min-max-cost d-flex">
<div class="min">
<input asp-for="MinCost" type="number" placeholder="Мин." />
</div>
<div class="max">
<input asp-for="MaxCost" type="number" placeholder="Макс." />
</div>
</div>
</div>
<div class="filters">
<h4>Площадь м²</h4>
<div class="min-max-area d-flex">
<div class="min">
<input asp-for="MinArea" type="number" placeholder="Мин." />
</div>
<div class="max">
<input asp-for="MaxArea" type="number" placeholder="Макс." />
</div>
</div>
</div>
<div class="filters">
<h4>Прибыль (₽)</h4>
<div class="min-max-income d-flex">
<div class="min">
<input asp-for="MinIncome" type="number" placeholder="Мин." />
</div>
<div class="max">
<input asp-for="MaxIncome" type="number" placeholder="Макс." />
</div>
</div>
</div>
<div class="filters">
<h4>Рейтинг</h4>
<div class="min-max-cost d-flex">
<div class="min">
<input asp-for="MinRaiting" type="number" placeholder="Мин." />
</div>
<div class="max">
<input asp-for="MaxRaiting" type="number" placeholder="Макс." />
</div>
</div>
</div>
<button class="btn btn-primary btn-block" type="submit" style="margin-left: 8rem;margin-top: 1rem;">Отфильтровать</button>
</div>
<div class="col-8 bg-dark text-white p-3 shadow rounded d-grid">
@if (Model!=null)
{
@foreach(var x in Model.Estate)
{
<a asp-controller="RealEstate" asp-action="Show" asp-route-id="@x.Id">
<div class="row bg-dark rounded-2 border border-2 border-light">
<div class="text-white rounded-2"><h4>@x.Address</h4></div>
<div class="text-white rounded-2"><h4>Площадь: @x.Area</h4></div>
<div class="text-white rounded-2"><h4>Стоимость кв/м: @x.Cost</h4></div></div></a>
}
} </div>
</div>
</div>
</form>
</div>

<style>
.max {
margin-left: 1rem;
}
</style